.background{
  padding-top: 5%;
  background-image: url("https://th.bing.com/th/id/OIP.HQVr41ncz9_Hbogylh_aTwHaEK?pid=ImgDet&rs=1");
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px !important;
  width: 100%;
  /* background: transparent !important; */
}
.p-card{
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3) !important;
}

